
.background{
    background: rgb(0, 0, 0);
}
  
  
  .logo {
    background-image: url(logo.svg);
    background-size: 200px 200px;
  }
  
  .progressBar {
    background-color: rgb(0, 0, 0);
  }
  
  .splash {
    background-image: url(logo.svg);
    background-size: 200px 200px;
  }
  
  .watermark {
    background-image: url(logo.svg);
    background-size: 57px 57px;
  }
